html{margin:0;padding:0;height:100%;box-sizing: border-box; overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;}
body {margin:0;height:100%;font-family:"Roboto", "Helvetica", "Arial", sans-serif;line-height:1.6;color:#566b78;}

div {
  background-color: inherit;
  color: inherit;
}

select {
  color: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
  appearance: none;
}
select::after {
  content: "this is it down"
}

.app {
    background-color: inherit;
}

svg {
  fill: currentColor;
}

.slideinleft {
  animation-duration: 0.5s;
  animation-name: slideinl;
}

.slideinright {
    animation-duration: 0.5s;
    animation-name: slideinr;
}

@keyframes slideinl {
    from {
        margin-left: -100%;
      }
    
      to {
        margin-left: 0%;
      }
} 

@keyframes slideinr {
    from {
        margin-left: 100%;
      }
    
      to {
        margin-left: 0%;
      }
}